.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 /-1;
  grid-row: 1/-1;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  min-width: 320px;

  > * {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: unset;
    }
  }
}

.auth-input {
  height: 35px;
  border-radius: 8px;
  border: 1px solid rgb(223, 217, 217);
  background-color: rgb(247, 244, 244);
  padding: 1rem;
  &::placeholder {
    font-style: italic;
    font-size: 0.9rem;
    color: gray;
  }
}

.auth-submit {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 8px;
  height: 35px;
  background: #2c4aac;
  border: 1px solid black;
  color: white;
  font-size: 1rem;

  &:hover {
    box-shadow: -2px 2px 5px rgb(46, 56, 199);
    filter: brightness(0.95);
  }

  &:active {
    box-shadow: -2px 2px 5px rgb(41, 50, 180);
    filter: brightness(0.9);
  }

  > *:last-child {
    position: absolute;
    left: 200px;
  }
}
