.entryList {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: clamp(120px, 75vh, 720px);
}

.entry {
  display: flex;
  flex-direction: column;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  width: 100%;
  min-width: 100%;
  user-select: none;
  background-color: white;

  &:hover {
    background-color: rgba(white, 0.9);
  }
}

.glance {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 15px 20px 15px;
  border-bottom: 1px solid $border-soft;
  cursor: pointer;
  height: 120px;
  min-height: 120px;
  max-height: 120px;
}

.entry-col-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;

  > p {
    max-width: 100%;
    word-wrap: break-word;
    text-align: center;
  }
}

.entry-col-2 {
  display: none;
  word-wrap: break-word;
  max-width: 100%;
  > p {
    max-width: 100%;
    word-wrap: break-word;
    text-align: center;
  }
}

.entry-open-indicator {
  display: none;
  justify-content: center;
  align-items: center;
}

.entry-status-indicator {
  position: relative;
  display: inline-flex;
  width: 140px;
}

@media (min-width: 640px) {
  .glance {
    justify-content: space-between;
  }

  .entry-col-1 {
    width: clamp(160px 40%, 250px);
    max-width: 250px;
  }

  .entry-col-2 {
    display: flex;
    flex-direction: column;
    width: (160px, 40%, 250px);
    max-width: 250px;
  }

  .entry-open-indicator {
    display: flex;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}
